<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Page</title>
</head>
<body>

    <h1><%= title %></h1>

    <p><%= message %></p>

    <table border="1" cellpadding="10">

        <tr>

            <th>Name</th>
            <th>Age</th>
            <th>City</th>

        </tr>

        <% items.forEach((user) => { %>

            <tr>

                <td><%= user.name %></td>

                <td><%= user.age %></td>

                <td><%= user.city %></td>

            </tr>

        <% }) %>

    </table>

</body>
</html>